<div class="card border-0" style="width:95%; margin-left:2rem;">

  <div class="card-header border-0 bg-white pt-0 px-0">
    <div
      style="display:flex; justify-content: space-between; align-items:center; padding-top: 1.5rem;"
    >
      <h1 style="font-weight:700;">Category</h1>
      <label>
        <input type="text" placeholder="Search" />
      </label>
    </div>
    <form method="post">
      <input
        type="text"
        placeholder="New category..."
        class="newcat"
        name="title"
      />
      <button type="submit" class="but">Add new</button>
    </form>

  </div>
  <table id="category" class="cor">

    <tr class="none-shawdow">
      <th>ID</th>
      <th style="padding-right: 10rem;">Name</th>
      <th style="padding-right: 0rem;">Course quantity</th>
      <th style="padding-right: 0rem;">Student quantity</th>
      <th style="width: 1rem;"></th>
      <th style="width: 1rem;"></th>
    </tr>

    {{#each this.categories}}
      <tr>
        <td class="id">{{_id}}</td>
        <td class="name">{{title}}</td>
        <td>{{courses}}</td>
        <td>{{students}}</td>

        <td class="edit" style="text-align: center; padding: 0;">
          <svg
            class="svs"
            width="25"
            height="25"
            viewBox="0 0 38 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M37.7422 13.0156C37.9922 13.6953 37.7813 14.4531 37.2422 14.9375L33.8594 18.0156C33.9453 18.6641 33.9922 19.3281 33.9922 20C33.9922 20.6719 33.9453 21.3359 33.8594 21.9844L37.2422 25.0625C37.7813 25.5469 37.9922 26.3047 37.7422 26.9844C37.3985 27.9141 36.9844 28.8047 36.5078 29.6641L36.1406 30.2969C35.625 31.1562 35.0469 31.9688 34.4141 32.7344C33.9531 33.2969 33.1875 33.4844 32.5 33.2656L28.1485 31.8828C27.1016 32.6875 25.9453 33.3594 24.711 33.8672L23.7344 38.3281C23.5781 39.0391 23.0313 39.6016 22.3125 39.7188C21.2344 39.8984 20.125 39.9922 18.9922 39.9922C17.8594 39.9922 16.75 39.8984 15.6719 39.7188C14.9531 39.6016 14.4063 39.0391 14.25 38.3281L13.2735 33.8672C12.0391 33.3594 10.8828 32.6875 9.83596 31.8828L5.49221 33.2734C4.80471 33.4922 4.03908 33.2969 3.57815 32.7422C2.94533 31.9766 2.36721 31.1641 1.85158 30.3047L1.4844 29.6719C1.00783 28.8125 0.59377 27.9219 0.25002 26.9922C2.00868e-05 26.3125 0.210958 25.5547 0.75002 25.0703L4.13283 21.9922C4.04689 21.3359 4.00002 20.6719 4.00002 20C4.00002 19.3281 4.04689 18.6641 4.13283 18.0156L0.75002 14.9375C0.210958 14.4531 2.00868e-05 13.6953 0.25002 13.0156C0.59377 12.0859 1.00783 11.1953 1.4844 10.3359L1.85158 9.70312C2.36721 8.84375 2.94533 8.03125 3.57815 7.26562C4.03908 6.70312 4.80471 6.51562 5.49221 6.73438L9.84377 8.11719C10.8906 7.3125 12.0469 6.64062 13.2813 6.13281L14.2578 1.67188C14.4141 0.960937 14.961 0.398438 15.6797 0.28125C16.7578 0.09375 17.8672 0 19 0C20.1328 0 21.2422 0.09375 22.3203 0.273438C23.0391 0.390625 23.586 0.953125 23.7422 1.66406L24.7188 6.125C25.9531 6.63281 27.1094 7.30469 28.1563 8.10938L32.5078 6.72656C33.1953 6.50781 33.961 6.70312 34.4219 7.25781C35.0547 8.02344 35.6328 8.83594 36.1485 9.69531L36.5156 10.3281C36.9922 11.1875 37.4063 12.0781 37.75 13.0078L37.7422 13.0156ZM19 26.25C22.4531 26.25 25.25 23.4531 25.25 20C25.25 16.5469 22.4531 13.75 19 13.75C15.5469 13.75 12.75 16.5469 12.75 20C12.75 23.4531 15.5469 26.25 19 26.25Z"
              fill="black"
            ></path>
          </svg>
        </td>

        {{#if isEmpty}}

          <td style="text-align: center; padding: 0 1rem;">
            <a href="categories/delete/{{_id}}">
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 46"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_363_5286)">
                  <path
                    d="M29.1189 13.5304C30.2908 12.4073 30.2908 10.5835 29.1189 9.46045C27.9471 8.3374 26.0439 8.3374 24.8721 9.46045L15.0002 18.93L5.11895 9.46943C3.94707 8.34639 2.04395 8.34639 0.87207 9.46943C-0.299805 10.5925 -0.299805 12.4163 0.87207 13.5394L10.7533 22.9999L0.881445 32.4694C-0.29043 33.5925 -0.29043 35.4163 0.881445 36.5394C2.05332 37.6624 3.95645 37.6624 5.12832 36.5394L15.0002 27.0698L24.8814 36.5304C26.0533 37.6534 27.9564 37.6534 29.1283 36.5304C30.3002 35.4073 30.3002 33.5835 29.1283 32.4604L19.2471 22.9999L29.1189 13.5304Z"
                    fill="black"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_363_5286">
                    <rect width="30" height="46" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </td>
        {{else}}
          <td
            style="text-align: center; padding: 0 1rem;"
            data-toggle="modal"
            data-target="#myModal"
          >
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_363_5286)">
                <path
                  d="M29.1189 13.5304C30.2908 12.4073 30.2908 10.5835 29.1189 9.46045C27.9471 8.3374 26.0439 8.3374 24.8721 9.46045L15.0002 18.93L5.11895 9.46943C3.94707 8.34639 2.04395 8.34639 0.87207 9.46943C-0.299805 10.5925 -0.299805 12.4163 0.87207 13.5394L10.7533 22.9999L0.881445 32.4694C-0.29043 33.5925 -0.29043 35.4163 0.881445 36.5394C2.05332 37.6624 3.95645 37.6624 5.12832 36.5394L15.0002 27.0698L24.8814 36.5304C26.0533 37.6534 27.9564 37.6534 29.1283 36.5304C30.3002 35.4073 30.3002 33.5835 29.1283 32.4604L19.2471 22.9999L29.1189 13.5304Z"
                  fill="black"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_363_5286">
                  <rect width="30" height="46" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </td>
        {{/if}}

      </tr>
    {{/each}}

  </table>
  <div class="center">
    <div class="pagination">
      <a href="#"><</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">></a>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" id="myModal">
    <div
      class="modal-dialog"
      style="top: 50% !important; transform: translateY(-90%) !important"
    >
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" style="border:none; margin: 0 auto;">
          <svg
            width="100"
            height="100"
            viewBox="0 0 150 150"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_321_4521)">
              <path
                d="M51.2695 51.2695C54.0234 48.5449 58.4766 48.5449 60.9668 51.2695L74.7363 65.0684L88.7695 51.2695C91.5234 48.5449 95.9766 48.5449 98.4668 51.2695C101.455 54.0234 101.455 58.4766 98.4668 60.9668L84.9316 74.7363L98.4668 88.7695C101.455 91.5234 101.455 95.9766 98.4668 98.4668C95.9766 101.455 91.5234 101.455 88.7695 98.4668L74.7363 84.9316L60.9668 98.4668C58.4766 101.455 54.0234 101.455 51.2695 98.4668C48.5449 95.9766 48.5449 91.5234 51.2695 88.7695L65.0684 74.7363L51.2695 60.9668C48.5449 58.4766 48.5449 54.0234 51.2695 51.2695ZM150 75C150 116.426 116.426 150 75 150C33.5742 150 0 116.426 0 75C0 33.5742 33.5742 0 75 0C116.426 0 150 33.5742 150 75ZM75 14.0625C41.3379 14.0625 14.0625 41.3379 14.0625 75C14.0625 108.662 41.3379 135.938 75 135.938C108.662 135.938 135.938 108.662 135.938 75C135.938 41.3379 108.662 14.0625 75 14.0625Z"
                fill="#E30000"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_321_4521">
                <rect width="150" height="150" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="margin: 0 auto;">
          Can’t delete because this category included course
        </div>

      </div>
    </div>
  </div>

  <script>
    $('#category').on('click','.edit',function() { 
      const id=$(this).siblings('.id').text();
    if($(this).siblings('.name').find('input').length){
    $(this).siblings('.name').text($(this).siblings('.name').find('input').val());
    } 
    else { var content=$(this).siblings('.name').text(); 
    var actionURL="categories/edit/"+id; 
    var form=$("<form/>", { method: 'POST',action: actionURL, style: 'margin: 0; padding: 0', } ).append($("<input>", {
    type:'text', name:'title', class:"editname", value: content, }
    ).val(content)).append($("<input>", { type:'submit', class:"butname", value:"Save" })) 
    $(this).siblings('.name').text('').append(form); } });
  </script>
</div>