<div
  class="card border-0"
  style="width:98%; justify-content: center; margin: 0rem auto;"
>

  <div class="card-header border-0 bg-white pt-0 px-0">
    <div
      style="display:flex; justify-content: space-between; align-items:center; padding-top: 1.5rem;"
    >
      <h1 style="font-weight:700;">Course</h1>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top: 2rem; ">
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-success dropdown-toggle"
          data-toggle="dropdown"
          style="background-color: #00A551; font-size: 1.6rem; font-weight: 600; padding: 0.5rem 1rem; "
        >
          Select category
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/admin/courses">All categories</a>
          {{#each this.category}}
            <a
              class="dropdown-item"
              href="/admin/courses/category?slug={{slug}}"
            >{{title}}</a>
          {{/each}} 
        </div>
      </div>
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-success dropdown-toggle"
          data-toggle="dropdown"
          style="background-color: #00A551; font-size: 1.6rem; font-weight: 600; padding: 0.5rem 1rem; "
        >
          Select instructor
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/admin/courses">All instructors</a>
          {{#each instructor}}
            <a
              class="dropdown-item"
              href="/admin/courses/instructor/{{_id}}"
            >{{name}}</a>
          {{/each}} 
        </div>
      </div>
    </div>
    </div>

  </div>

  {{#if isEmpty}}
    <h1 style="padding: 2rem 1.2rem;"> No result found </h1>
    {{else}}
      <table id="course" class="cor" style="width: 98%; margin: 1rem auto; font-size: 1.4rem;">

          <tr class="none-shawdow" style="border-radius: 10px;">
            <th style="display: none;">ID</th>
            <th>Course name</th>
            <th>Category</th>
            <th>Author</th>
            <th>Status</th>
            <th>Coupon</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

          {{#each this.courses}}
            <tr>
              <td class="id" style="display: none;">{{_id}}</td>
              <td >{{name}}</td>
              <td >{{nameCategory}}</td>
              <td> {{nameAuthor}}</td>
              <td>{{#if active}}Active{{else}}Inactive{{/if}}</td>
              <td class="sale">{{sale}}</td>
              <td class="edit" style="text-align: center; padding: 0 0.2rem; ">
                <img src="/assets/svg/admin/coupon.svg" alt="coupon-icon" />
              </td>
              <td class="viewmore" style="text-align: center; padding: 0;">
                <a href="/admin/courses/viewmore/{{_id}}">
                  <img src="/assets/svg/admin/info.svg" alt="more-icon" />
                </a>
              </td>
              <td style="text-align: center; padding: 0 0.5rem;">
                <form action="/admin/courses/ban/{{_id}}" method="post">
                  <button type="submit" style="border: none;">
                    <img src="/assets/svg/admin/ban.svg" alt="ban-icon" />
                  </button>
                </form>
              </td>
              <td class="delete" style="text-align: center; padding: 0;">
                <form action="/admin/courses/delete/{{_id}}" method="post">
                  <button type="submit" style="border: none;">
                    <img src="/assets/svg/admin/delete.svg" alt="delete-icon" />
                  </button>
                </form>

              </td>

            </tr>
          {{/each}}
      </table>
  {{/if}}

  <script>
    $('#course').on('click','.edit',function() { 
      const id=$(this).siblings('.id').text();
    if($(this).siblings('.sale').find('input').length){
    $(this).siblings('.sale').text($(this).siblings('.sale').find('input').val());
    } 
    else { var content=$(this).siblings('.sale').text(); 
    var actionURL="/admin/courses/edit/"+id; 
    var form=$("<form/>", { method: 'POST',action: actionURL, style: 'margin: 0; padding: 0', } ).append($("<input>", {
    type:'text', name:'sale', class:"editsale", value: content, }
    ).val(content))
    $(this).siblings('.sale').text('').append(form); } });
  </script>
</div>