<div
  class="card border-0"
  style="width:98%; justify-content: center; margin: 0rem auto;"
>

  <div class="card-header border-0 bg-white pt-0 px-0">
    <div
      style="display:flex; justify-content: space-between; align-items:center; padding-top: 1.5rem;"
    >
      <h1 style="font-weight:700;">Teacher</h1>
    </div>
    <button
      class="but"
      data-toggle="modal"
      data-target="#addTeacher"
      style="margin: 2rem 0 0 0;"
    >
      <p style="margin: 0;">Add new</p>
    </button>

  </div>

  <table id="teacher" class="cor" style="margin-top: 1rem;">

    <tr class="none-shawdow">
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Active</th>
      <th style="width: 1rem;"></th>
      <th style="width: 1rem;"></th>
      <th style="width: 1rem;"></th>
    </tr>

    {{#each this.teachers}}
      <tr>
        <td class="id">{{_id}}</td>
        <td class="name" style="padding-right: 10rem;">{{name}}</td>
        <td class="email" style="padding-right: 10rem;">{{email}}</td>
        <td class="active"  style="padding-right: 10rem;">
          {{#if active}}
            Active
            {{else}}
              Inactive
          {{/if}}</td>
        <td class="edit" style="text-align: center; padding: 0 1rem;">
          <img src="/assets/svg/admin/edit.svg" alt="edit-icon" />
        </td>

        <td style="text-align: center; padding: 0 0.5rem;">
          <form action="/admin/teachers/ban/{{_id}}" method="post">
            <button type="submit" style="border: none;">
              <img src="/assets/svg/admin/ban.svg" alt="ban-icon" />
            </button>
          </form>
        </td>


        <td class="delete" style="text-align: center; padding: 0 0.2rem;">
          <form action="/admin/teachers/delete/{{_id}}" method="post">
            <button type="submit" style="border: none;">
              <img src="/assets/svg/admin/delete.svg" alt="delete-icon" />
            </button>
          </form>
        </td>
      </tr>
    {{/each}}

  </table>


  <div class="modal" id="addTeacher">
    <div
      class="modal-dialog"
      style="top: 50% !important; transform: translateY(-80%) !important"
    >
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" style="border:none; padding: 1rem 0 0 1rem;">
          <h4 style="color:#00A551; font-weight: 700;margin: 0.5rem;">Add
            Teacher</h4>
        </div>

        <!-- Modal body -->
        <div
          class="modal-body"
          style="margin: 1rem 1.5rem 1rem 1.5rem; padding: 0;"
        >
          <form id="modalAdd" method="post" style="margin: 0;">

            <p style="margin-bottom: 0.3rem; font-weight: 600;">Name</p>
            <input
              id="nameAdd"
              name="name"
              style="width: 100%; padding: 0.5rem; height: 3rem; margin-bottom: 0.5rem;"
            />

            <p style="margin-bottom: 0.3rem; font-weight: 600;">Email</p>
            <input
              id="emailAdd"
              type="email"
              name="email"
              style="width: 100%; padding: 0.5rem; height: 3rem; margin-bottom: 0.5rem;"
            />

            <p style="margin-bottom: 0.3rem; font-weight: 600;">Password</p>
            <input
              type="password"
              id="passwordAdd"
              name="password"
              style="width: 100%; padding: 0.5rem;  height: 3rem; margin-bottom: 0.5rem;"
            />

            <button
              class="but"
              type="submit"
              style="margin: 1rem auto 0 auto; display: block;"
            >
              <p style="margin: 0;">Save</p>
            </button>
          </form>
          
            <script>

              $('#modalAdd').on('submit',function(e) { 
                e.preventDefault();
                const email=$('#emailAdd').val();
                const name=$('#nameAdd').val();
                const password=$('#passwordAdd').val();
                if(email.length===0 || name.length===0 || password.length===0){
                  alert('Invalid data');
                  return;
                }
                $.getJSON(`/admin/teachers/not-exist?email=${email}`, function(data){
                  if(data===false){
                    alert('Email existed in database');
                  }
                  else{
                    $('#modalAdd').off('submit').submit();
                  }
                });
              });
            </script>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#teacher').on('click','.edit',function() { 
      const id=$(this).siblings('.id').text();
    if($(this).siblings('.name').find('input').length){
      $(this).siblings('.name').text($(this).siblings('.name').find('input').val());
    } 
    else { 
      var content=$(this).siblings('.name').text(); 
      var actionURL="teachers/edit/"+id; var form=$("<form/>",{ method: 'POST',action: actionURL, style: 'margin: 0; padding: 0', }).append($("<input>", { type:'text', name:'title', class:"editname", value:content, } ).val(content));
      $(this).siblings('.name').text('').append(form); 
    } });
  </script>
</div>