
<div class="course-card">
    {{#if my_courses}}
    {{else}}
    <form action="/wishlist/{{course_id}}" method="post" name="addToWishlist" class="formPost">
        <button type="submit" class="but">
            <i class="{{myWishCourses}} fa-regular fa-heart icon"></i>
        </button>
    </form>
    {{/if}}
    <div class="course-card-overlay">
        <a class="button-cs" href="{{course_slug}}">More Details</a>
        {{#if my_courses}}
        <a class="button-cs learning" href="{{course_slug}}/learn/lecture">Learn Now</a>
        {{/if}}
    </div>
    <img
        src="{{course_img}}"
        class="course-card-img"
        alt="course-img"
    />
    {{#if course_status}}
    <div class="status {{course_status}}">{{course_status}}</div>
    {{/if}}
    <div class="card-main">
        <h1 class="card-heading">{{course_name}}</h1>
        <div class="card-author" title="{{course_author}}">
            <i class="fa-solid fa-user-pen"></i>
            <span>{{course_author}}</span>
        </div>
        <div class="card-details-ls">
            <div class="card-details-ls-icon">
                <span><b>{{course_rate}}</b></span>
                <span><i
                        class="fa-regular fa-eye"
                    ></i></span>
                <span><i
                        class="fa-solid fa-tag"
                    ></i></span>
            </div>
            <div class="card-details-ls-content">
                <div class="card-details-ls-item">
                    <span class="flex g-0">
                    {{#if (gt course_rate 0)}}
                        {{#if (gte course_rate 1)}}
                        <i class="fa-solid fa-star"></i>
                        {{else}}
                        <i class="fa-solid fa-star-half-stroke"></i>
                        {{/if}}
                    {{else}}
                        <i class="fa-regular fa-star"></i>
                    {{/if}}
                    
                    {{#if (gt course_rate 1)}}
                        {{#if (gte course_rate 2)}}
                        <i class="fa-solid fa-star"></i>
                        {{else}}
                        <i class="fa-solid fa-star-half-stroke"></i>
                        {{/if}}
                    {{else}}
                        <i class="fa-regular fa-star"></i>
                    {{/if}}

                    {{#if (gt course_rate 2)}}
                        {{#if (gte course_rate 3)}}
                        <i class="fa-solid fa-star"></i>
                        {{else}}
                        <i class="fa-solid fa-star-half-stroke"></i>
                        {{/if}}
                    {{else}}
                        <i class="fa-regular fa-star"></i>
                    {{/if}}

                    {{#if (gt course_rate 3)}}
                        {{#if (gte course_rate 4)}}
                        <i class="fa-solid fa-star"></i>
                        {{else}}
                        <i class="fa-solid fa-star-half-stroke"></i>
                        {{/if}}
                    {{else}}
                        <i class="fa-regular fa-star"></i>
                    {{/if}}

                    {{#if (gt course_rate 4)}}
                        {{#if (gte course_rate 5)}}
                        <i class="fa-solid fa-star"></i>
                        {{else}}
                        <i class="fa-solid fa-star-half-stroke"></i>
                        {{/if}}
                    {{else}}
                        <i class="fa-regular fa-star"></i>
                    {{/if}}
                    </span>
                    <small>({{course_vote}})</small>
                </div>
                <div>
                    <small>{{course_viewer}} views</small>
                </div>
                <div>
                    <small>{{course_category}}</small>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <span class="card-price">
                <div class="position-relative">
                {{#if course_sale}}
                    <span class="remove-line"></span>
                {{/if}}
                    <i class="fa-solid fa-dollar"></i>
                    <span class="price-number">{{course_price}}</span>
                </div>
                {{#if course_sale}}
                    <i class="fa-solid fa-arrow-right"></i>
                    <b class="sale-number">
                        <i class="fa-solid fa-dollar"></i>
                        <span>{{course_sale}}</span>
                    </b>
                {{/if}}
            </span>
            <span class="card-clock">
                <i class="fa-regular fa-clock"></i>
                <span>{{course_date}}</span>
            </span>
        </div>
    </div>

</div>