<div class="course-learning">
    <div class="course-contents">
        <div class="course-contents-heading">
            <div class="course-contents-title">
                <span>{{watch_info.section_name}}</span>
                <span><i class="fa-solid fa-chevron-right"></i></span>
                <span>{{watch_info.lesson_name}}</span>
            </div>
            <div class="course-contents-rating">
                <button class="rate-btn"><i class="fa-regular fa-star"></i></button>
                <button class="rate-btn"><i class="fa-regular fa-star"></i></button>
                <button class="rate-btn"><i class="fa-regular fa-star"></i></button>
                <button class="rate-btn"><i class="fa-regular fa-star"></i></button>
                <button class="rate-btn"><i class="fa-regular fa-star"></i></button>
            </div>
        </div>
        <div class="watch_course">
            <video style="width: 100%; height: 500px" id="player">
                <source src='{{watch_info.video}}'></source>
            </video>
        </div>
    </div>
    <div class="course-lectures">
        <div class="lecture-heading">
            <b class="title">Course lectures</b>
            <div class="progress-bar-group">
                <div class="progress-bar-status">
                    <span>5% Completed</span>
                    <span>5 / 100</span>
                </div>
                <div class="progress-bar">
                    <div class="progress-bar-fill"></div>
                </div>
            </div>
        </div>
        <div class="course-lectures-list">
            {{#each course.lectures.sections}}
            <div class="course-lectures-item">
                <input id="section-content-{{@index}}" class="hidden-section-content" hidden type="checkbox" style="display: none;" />
                <label for="section-content-{{@index}}" class="section-heading">
                    <div class="section-title">
                        <span class="section-index">{{#if (lt @index 9) }}0{{/if}}{{sum @index 1}}</span>
                        <span class="section-name">{{this.title}}</span>
                    </div>
                    <div class="section-checkbox">
                        <i class="fa-solid fa-chevron-down dropdown-btn"></i>
                    </div>
                </label>
                <div class="section-content">
                    {{#each this.lessons}}
                    <div class="lesson-item">
                        <div class="lesson-item-checkbox">
                            <div class="checkbox-cs">
                                <input class="checkbox-input-cs" type="checkbox" id="lesson-{{@../index}}-{{@index}}" />
                                <label class="checkbox-label" for="lesson-{{@../index}}-{{@index}}">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="lesson-item-content">
                            <a href='{{this.url}}?section={{sum @../index 1}}' class="lesson-item-title">
                                {{this.title}}
                            </a>
                            <div class="lesson-item-time">
                                <span class="time-icon"><i class="fa-regular fa-circle-play"></i></span>
                                <span>{{this.duration}}</span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        const currentCourse = `{{{watch_info.current_course}}}`;
        const currentWatch = JSON.parse(localStorage.getItem('plyr_current_watch')) || {};
        
        $(".course-learning > .course-lectures > .course-lectures-list > .course-lectures-item > .section-content > .lesson-item > .lesson-item-content > .lesson-item-title").click((event) => {
            localStorage.setItem('plyr_current_watch', JSON.stringify({
                ...currentWatch,
                [currentCourse]: $(event.currentTarget).val().split("?")[0]
            }));
        });

        let $container = $('.course-learning > .course-lectures > .course-lectures-list');

        const section = parseInt(`{{watch_info.section}}`);
        const lesson = `{{{watch_info.url}}}`;

        $(".course-learning > .course-lectures > .course-lectures-list > .course-lectures-item > .hidden-section-content").change((event) =>{
            if ($(event.currentTarget).is(':checked') === true)
                $container.animate({
                    scrollTop: $(event.currentTarget).next().offset().top - $container.offset().top + $container.scrollTop()
                }, 'slow');
        });

        if (section > 0) {
            $(`#section-content-${section - 1}`).prop('checked', true);
            
            if (lesson !== '') {
                let $lesson = $(`#section-content-${section - 1}`).parent().find(`.lesson-item a[href="${lesson}?section={{{watch_info.section}}}"]`);
                $lesson.addClass('active');

                setTimeout(() => {
                    $container.animate({
                        scrollTop: $lesson.offset().top - 15 - $container.offset().top + $container.scrollTop()
                    });
                }, 500);
            }
        }

        const player = new Plyr('#player', {
            controls: [
                'play-large',
                'restart',
                'rewind',
                'play',
                'fast-forward',
                'progress',
                'current-time',
                'duration',
                'mute',
                'volume',
                'captions',
                'settings',
                'fullscreen',
            ]
        });

        const timerLoading = setInterval(async () => {
            if (player.duration) {

                player.currentTime = JSON.parse(localStorage.getItem('plyr_video__current'))[`{{{watch_info.current_lesson}}}`];
                player.muted = false;

                player.on('playing', () => {
                    localStorage.setItem('plyr_video__current', JSON.stringify({
                        ...JSON.parse(localStorage.getItem('plyr_video__current')),
                        '{{{watch_info.current_lesson}}}': player.currentTime
                    }));
                });

                player.on('pause', () => {
                    localStorage.setItem('plyr_video__current', JSON.stringify({
                        ...JSON.parse(localStorage.getItem('plyr_video__current')),
                        '{{{watch_info.current_lesson}}}': player.currentTime
                    }));
                });

                clearInterval(timerLoading);
            }
        }, 0);

        player.on('error', () => clearInterval(timerLoading));

        $(window).on("beforeunload", () => { 
            localStorage.setItem('plyr_video__current', JSON.stringify({
                ...JSON.parse(localStorage.getItem('plyr_video__current')),
                '{{{watch_info.current_lesson}}}': player.currentTime
            }));
        });
    });
</script>