<nav class="navbar">
    <button title="menu" id="sidebar-open" class="button-cs phone"><i class="fa-solid fa-bars"></i></button>
    <a class="link title" href="/instructor/my-courses">Academy</a>
    <form class="search-form" autocomplete="off" action="/courses" method="GET">
        <button type="submit" title="search" class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input class="search-bar" name="q" type="search" placeholder="search for anything" />
    </form>
    <a class="link desktop mobile" href="/instructor/my-courses">Home</a>
    <a class="link ipad mobile" href="/instructor/my-courses">About</a>
    
    {{#if auth}}
    <div class="user-dropdown mobile">
        <button type="button" class="avatar mobile">
            {{#if photo }}
            <img class="icon" src="/assets/images/users/user.png" width="50px" alt="user" />
            {{else}}
            <i class="fa-solid fa-user-circle no-avatar"></i>
            {{/if}}
        </button>
        <div class="user-dropdown-list mobile">
            <div class="user-box">
                <div class="link user-details" title="{{authUser.name}}">
                    {{#if authUser.photo }}
                    <img class="icon" src="{{authUser.photo}}" alt="user" width="35px" />
                    {{else}}
                    <i class="fa-solid fa-user-circle no-avatar"></i>
                    {{/if}}
                    <span class="name">{{authUser.name}}</span>
                </div>
                <hr />
                <a class="link" href="/instructor/my-profile"><i class="fa-solid fa-user"></i> <span>Edit profile</span></a>
                <a class="link" href="/instructor/my-courses"><i class="fa-solid fa-film"></i> <span>My courses</span></a>
                <a class="link" href="/account/logout"><i class="fa-solid fa-sign-out"></i> <span>Sign out</span></a>
            </div>
        </div>
    </div>
    {{else}}
    <a class="link join-btn mobile" href="/account/login">Join now</a>
    {{/if}}

    {{!-- SIDEBAR --}}
    <div class="sidebar-overlay phone"></div>
    <aside class="sidebar phone">
        <button id="sidebar-close" title="close" class="close-btn"><i class="fa-solid fa-close"></i></button>
        <div class="sidebar-main">
            {{#if auth}}
            <button class="user-details" data-category="user-profile">
                {{#if authUser.photo }}
                <img class="icon" src="{{authUser.photo}}" alt="user" width="35px" />
                {{else}}
                <i class="fa-solid fa-user-circle no-avatar"></i>
                {{/if}}
                <span class="name">{{authUser.name}}</span>
                <i class="fa-solid fa-chevron-right"></i>
            </button>
            {{else}}
            <a class="sidebar-item" href="/account/login">Login</a>
            <a class="sidebar-item" href="/account/signup">Register</a>
            {{/if}}
            <hr />
            <a class="heading" href="/courses">Courses</a>
            <div class="sidebar-group"></div>
            <hr />
            <b class="heading">More from Academy</b>
            <div class="sidebar-group">
                <a class="sidebar-item" href="#about">About</a>
            </div>
            <div class="view-group"></div>
        </div>
    </aside>
</nav>

<script>
    $(document).ready(() => {
        const categoriesList = JSON.parse(`{{{categories}}}`);
        
        $("nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .sidebar-group:first-child")
        .children().remove();

        $(".navbar > .dropdown > .categories.dropdown-list")
        .children().remove();

        categoriesList.map(categories => {
            $(".navbar > .dropdown > .categories.dropdown-list")
            .append(`<a data-category="${categories.slug}" href="/courses${categories.slug}" class="dropdown-items"><span>${categories.title}</span> <i class="fa-solid fa-chevron-right"></i></a>`);

            $("nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .sidebar-group:first")
            .append(`<button data-category="${categories.slug}" class="sidebar-item"><span>${categories.title}</span> <i class="fa-solid fa-chevron-right"></i></button>`);
        
            $(`.navbar > .dropdown > .categories.dropdown-list > a[data-category="${categories.slug}"].dropdown-items`).hover((e) => {
                const dataCategory = $(e.currentTarget).attr("data-category");
                
                $(`.navbar > .dropdown > .categories.dropdown-list > a.dropdown-items`)
                .removeClass('active');

                $(e.currentTarget).addClass('active');

                $(`.navbar > .dropdown > .sub-categories.dropdown-list`)
                .attr("data-category", dataCategory);

                $(`.navbar > .dropdown > .sub-categories.dropdown-list`)
                .addClass("open");

                $(`.navbar > .dropdown > .sub-categories.dropdown-list[data-category="${dataCategory}"]`)
                .children().remove();
                
                const index = categoriesList.findIndex((category => category.slug === dataCategory));

                index > -1 && categoriesList && categoriesList.length && categoriesList[index] && categoriesList[index].subcategories && categoriesList[index].subcategories.length && categoriesList[index].subcategories.map(el => {
                    $(`.navbar > .dropdown > .sub-categories.dropdown-list[data-category="${dataCategory}"]`)
                    .append(`<a class="dropdown-items" href="/courses${categories.slug}${el.slug}"><span>${el.content}</span></a>`);
                })
            },
            (e) => {
            });

            $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .sidebar-group:first > button[data-category="${categories.slug}"]`)
            .on("click", (e) => {
                const dataCategory = $(e.currentTarget).attr("data-category");
                $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group`)
                .attr("data-category", dataCategory);

                $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group[data-category="${dataCategory}"]`)
                .children().remove();
                
                $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group[data-category="${dataCategory}"]`)
                .append(`<button data-category="${dataCategory}" class="back-btn"><i class="fa-solid fa-chevron-left"></i> <span>Back</span></button>`);

                const index = categoriesList.findIndex((category => category.slug === dataCategory));

                index > -1 && categoriesList && categoriesList.length && categoriesList[index] && categoriesList[index].subcategories && categoriesList[index].subcategories.length && categoriesList[index].subcategories.map(el => {
                    $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group`)
                    .append(`<a class="sidebar-item" href="/courses${categories.slug}${el.slug}"><span>${el.content}</span></a>`);
                })

                $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group`).addClass("open");

                $("nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group > button.back-btn")
                .on("click", (e) => {
                    const dataCategory = $(e.currentTarget).attr("data-category");
                    $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group[data-category="${dataCategory}"]`).removeClass("open");

                });
            });
        });
    });

    $("nav.navbar > #sidebar-open").on("click", () => {
        $("nav.navbar > #sidebar-open ~ .sidebar").addClass("open");
        $("nav.navbar > #sidebar-open ~ .sidebar-overlay").addClass("open");
    });

    $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .user-details[data-category="user-profile"]`)
    .on("click", (e) => {
        const dataCategory = $(e.currentTarget).attr("data-category");

        $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group`)
        .attr("data-category", dataCategory);

        $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group[data-category="${dataCategory}"]`)
        .children().remove();

        $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group[data-category="${dataCategory}"]`)
        .append(`<button data-category="${dataCategory}" class="back-btn"><i class="fa-solid fa-chevron-left"></i> <span>Back</span></button>`);
        
        $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group`)
        .append(`<a class="sidebar-item-profile" href="/user-profile"><i class="fa-solid fa-user-circle"></i><span>Edit profile</span></a>`);

        $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group`)
        .append(`<a class="sidebar-item-profile" href="/my-courses"><i class="fa-solid fa-film"></i><span>My courses</span></a>`);

        $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group`)
        .append(`<a class="sidebar-item-profile" href="/wishlist"><i class="fa-solid fa-heart"></i><span>Wish list</span></a>`);

        $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group`)
        .append(`<a class="sidebar-item-profile" href="/account/logout"><i class="fa-solid fa-sign-out"></i><span>Sign out</span></a>`);

        $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group[data-category="${dataCategory}"]`)
        .addClass("open");
        
        $("nav.navbar > #sidebar-open ~ .sidebar-overlay").addClass("open");

        $("nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group > button.back-btn")
        .on("click", (e) => {
            const dataCategory = $(e.currentTarget).attr("data-category");
            
            $(`nav.navbar > #sidebar-open ~ .sidebar > .sidebar-main > .view-group[data-category="${dataCategory}"]`)
            .removeClass("open");

        });
    });

    $("nav.navbar > #sidebar-open ~ .sidebar > #sidebar-close").on("click", () => {
        $("nav.navbar > #sidebar-open ~ .sidebar").removeClass("open");
        $("nav.navbar > #sidebar-open ~ .sidebar-overlay").removeClass("open");
    });
</script>