<div class="main-courses">
    <div class="main-courses-heading">
        <h1 >All courses</h1>
        <div class="filter">
            <form action="" method="GET">
                {{#if q}}
                <input type="hidden" name="q" value="{{q}}" />
                {{/if}}
                <select onchange='this.form.submit()' name="sort_by" class="dropdown">
                    <option {{#if (or (eq sort_by "default") (eq sort_by ""))}}selected {{/if}}value="default">Default</option>
                    <option {{#if (eq sort_by "price")}}selected {{/if}}value="price">Price &#9651;</option>
                    <option {{#if (eq sort_by "rating")}}selected {{/if}}value="rating">Rating &#9661;</option>
                </select>
            </form>
            <i class="fa-solid fa-filter icon"></i>
        </div>
    </div>
    <div class="list-courses">
        {{#each courses}}
            {{> courseCard this }} 
        {{/each}}
    </div>
    <div class="page-group">
        {{#if prev_page}}
            <a class="page-items" href="?{{#if ../q}}q={{../q}}&{{/if}}{{#if ../sort_by}}sort_by={{../sort_by}}&{{/if}}page={{prev_page}}"><i class="fa-solid fa-chevron-left"></i></a>
        {{/if}}
        {{#each pageList}}
            {{#if (eq this "...")}}
            <span class="page-items">{{this}}</span>
            {{else}}
            <a class="page-items{{#if (eq ../page this)}} active{{/if}}" href="?{{#if ../q}}q={{../q}}&{{/if}}{{#if ../sort_by}}sort_by={{../sort_by}}&{{/if}}page={{this}}">{{this}}</a>
            {{/if}}
        {{/each}}
        {{#if next_page}}
            <a class="page-items" href="?{{#if ../q}}q={{../q}}&{{/if}}{{#if ../sort_by}}sort_by={{../sort_by}}&{{/if}}page={{next_page}}"><i class="fa-solid fa-chevron-right"></i></a>
        {{/if}}
    </div>
</div>