<div class = "course-description">
    <div class="curriculum">
        <span class="title">Curriculum</span>
        <div class="mode">
            <a href="/instructor/preview/?course={{course_id}}">Preview</a>
            <a href="/instructor/add-course-description" class="active">Description</a>
            <a href="/instructor/add-course-content/?course={{course_id}}&page=1">Content</a>
        </div>
    </div>  
    <form class = "description-form" enctype="multipart/form-data" method = "post">
        {{!-- course title and course subtitle --}}
        <div class = "course-information course-title-subtitle">
            <div class="form-group-description">
                <label for="txtCourseTitle" class="course-title">Course Title</label>
                <input name="course_title" type="text" id="txtCourseTitle" placeholder="Enter your course title"
                    value="{{#if course.name}}{{course.name}}{{/if}}" />
            </div>
          <div class="form-group-description">
                <label for="txtCourseLanguage" class="course-language">Select language</label>
                <select style = "{{#if course.name}}color: black;{{course.name}}{{/if}}" name="course_language" id="txtCourseLanguage"  placeholder="Enter your course title">
                    {{#if course.name}}
                     <option class = "black-text" value="" disabled selected hidden>English</option>
                     {{else}}
                     <option value="" disabled selected hidden>Choose your language</option>
                    {{/if}}
                    <option value="Vietnamese">Vietnamese</option>
                    <option value="English">English</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Spanish">Spanish</option>
                    <option value="France">France</option>
                </select>
            </div>
        </div>
        {{!-- course language and course category --}}
        <div class = "course-information course-language-category">
            <div class="form-group-description">
                <label for="txtCourseCategory" class="course-category">Select course category</label>
                 <select style = "{{#if course.name}}color: black;{{/if}}" name="course_category" id="txtCourseCategory">
                    {{#if urCourseCategory}}
                        <option value='{{urCourseCategory}}' hidden>{{urCourseCategory}}</option>
                        {{else}}
                        <option value="" disabled selected hidden>Choose course category</option>
                    {{/if}}

                    {{#each this.categoryList}}
                        <option value='{{title}}'>{{title}}</option>
                    {{/each}}
                </select>
            </div>
             <div class="form-group-description">
                <label for="txtCourseSubCategory" class="course-sub-category">Select course sub-category</label>
                <select style = "{{#if course.name}}color: black;{{/if}}" name="course_sub_category" id="txtCourseSubCategory">
                    <option value='{{#if urCourseSubCategory}}{{#each urCourseSubCategory}}{{this}} {{/each}}{{else}}{{/if}}' disabled selected hidden>
                    {{#if urCourseSubCategory}}
                    {{#each urCourseSubCategory}}{{this}} {{/each}}
                    {{else}}Choose course sub-category
                    {{/if}}
                    </option>
                </select>
            </div>
        </div>
        {{!-- course pricing and promotion code --}}
        <div class = "course-information course-pricing-promotionCode">
            <div class="form-group-description">
                <label class="course-pricing">Pricing</label>
                <div class = "course-pricing-info">
                    <select style = "{{#if course.name}}color: black;{{course.name}}{{/if}}" name="price_currency" id="txtCoursePricingCurrency">
                        <option value="" disabled selected hidden>{{#if course.currency}}{{course.currency}}{{else}}Select currency{{/if}}</option>
                        <option value="VND">VND</option>
                        <option value="USD">USD</option>
                    </select>
                    <input id="txtCoursePricingAmount" type="text" name = "price_amount" placeholder="Enter price" value = "{{#if course.price}}{{course.price}}{{/if}}">
                </div>
            </div>
             <div class="form-group-description">
                <label for="txtCoursePromotionCode" class="course-sub-category">Promotion code (optional)</label>
                <input name="promotion_code" type="text" id="txtCoursePromotionCode" placeholder="Enter your promotion code"/>
            </div>
        </div>
        {{!-- short description and image --}}
        <div class = "course-information course-short-description-image">
            <div class = "form-group-description">
                <label for="txtCourseShortDescription" class="short-description">Short description</label>
                <textarea name="short_description" id="shortDescription" rows="3" placeholder="Describe briefly your course........">{{#if course.description}}{{course.description}}{{/if}}</textarea>
            </div>
            <div class = "form-group-description">
                <label for="uploadImage" class="">Course Image</label>
                <label for="courseImageFile" class = "course-image" style = "cursor: pointer;">
                    <div class = "upload-file" style = "display: flex; flex-direction: column; align-self: center;" >
                      <span class="upload-image-icon"><img src="/assets/svg/instructor/upload-image.svg"
                            alt="upload-icon"></span>
                      <span class="upload-image-message" style = "display: inline-block">UPLOAD FILE</span>
                    </div>  
                    <div class = "image-description">
                        <p style = "margin-top: 1rem;">Upload your course image here. It must meet our course image quality standard to be accepted. Important guidelines: 750x422 pixels; .jpg, .jpeg, .gif; or .png no text on the image.</p>
                    </div>
                </label>
                 <input name="courseImageFile" id="courseImageFile" type="file" style="display: none;">
            </div>
        </div>
        {{!-- full description (details) --}}
        <div class = "course-information course-full-description">
            <div class = "form-group-description">
                <label for="txtFullDescription" style="margin-bottom: 1rem;">Full description</label>
                <textarea name="full_description" id="txtFullDescription" cols="30" rows="30" style = "font-family: Montserrat;">{{#if course.details}}{{course.details}}{{else}}Enter your full description here...{{/if}}</textarea>
            </div>
        </div>
        {{!-- SAVE button --}}
        <div class ="save_description" style = "text-align: center;">
            <button id = "saveCourseBtn" type="submit" name = "requestActionInDescription" value = "save_course_description">SAVE</button>
            <button id = "deleteCourseBtn" type="submit" name = "requestActionInDescription" value = "delete_course_description">DELETE</button>
        </div>
     {{!-- <input name="requestActionInDescription" value = "save_course_description" type="submit" hidden > --}}
    </form>
</div>

<script>
    // display message 
    if ("{{message}}" == "successAdded")
    {
        alert("Your course was added successfully...");
        window.location.replace("http://localhost:5000/instructor/add-course-description/?course={{course_id}}");
    }
    else if ("{{message}}" == "successSaved")
    {
        alert("Your change was saved successfully...");
        window.location.replace("http://localhost:5000/instructor/add-course-description/?course={{course_id}}");
    }
    else if ("{{message}}" == "successDeleted")
    {
        alert("Your course was deleted successfully...");
        window.location.replace("http://localhost:5000/instructor/add-course-description");
    }
    else if ("{{message}}" == "Your file extension is not valid.")
    {
        alert("Your file extension is not valid.");
        window.location.replace("http://localhost:5000/instructor/add-course-description/?course={{course_id}}");
    }
    else if ("{{message}}" != "")  { // failed
        alert("{{message}}");
        window.location.replace("http://localhost:5000/instructor/add-course-description");
    }
  
    // display subcategory
    const categories = JSON.parse(`{{{this.js_categories}}}`);

    $('#txtCourseCategory').change(() => {
        const categoryVal = $('#txtCourseCategory').find(":selected").val();
        const Category = categories.find((category) => category.title === categoryVal);
        $('#txtCourseSubCategory').children().remove();

        $('#txtCourseSubCategory').append(`<option value="" disabled selected hidden>Choose course sub-category</option>`);
        Category.subcategories.forEach((subcategory) => {
            $('#txtCourseSubCategory').append(`<option value='${subcategory.content}'>${subcategory.content}</option>`);
        });
    });

    const categoryVal = $('#txtCourseCategory').find(":selected").val();
    const Category = categories.find((category) => category.title === categoryVal);
    if (Category) {
        Category.subcategories.forEach((subcategory) => {
            $('#txtCourseSubCategory').append(`<option value='${subcategory.content}'>${subcategory.content}</option>`);
        });
    }
     // set file name when uploading
    $('#courseImageFile').change(function (event) {
        const filename = event.target.files[0].name;
        $('.upload-image-message').text(filename);
    })
    // validate user input's field before submitting 
    $('.description-form').on('submit', (e) => {
        const course_title = $('#txtCourseTitle').val().trim(); 
        const course_category = $('#txtCourseCategory :selected').text().trim();
        const course_sub_category = $('#txtCourseSubCategory :selected').text().trim();
        
        if (course_title.length === 0 ) { 
            e.preventDefault(); 
            alert("Course title must not be empty. Try again!");
            return;
        } 
        if (course_category == "Choose course category" || course_category.length === 0) {
            e.preventDefault(); 
            alert("You must choose course category. Try again!");
            return;

        }
       if (course_sub_category == "Choose course sub-category" || course_sub_category.length === 0) {
            e.preventDefault(); 
            alert("You must choose course sub category. Try again!");
            return;
        }
    });
</script>

 