<div class="course-content">
    <div class="curriculum">
        <span class="title">Curriculum</span>
        <div class="mode">
            <a href="/instructor/preview/?course={{course_id}}">Preview</a>
            <a href="/instructor/add-course-description/?course={{course_id}}">Description</a>
            <a href="/instructor/add-course-content" class="active">Content</a>
        </div>
    </div>
    <div class="section">
        {{#each this.sections}}
         <form class="section-heading" action="{{../url}}&section={{this._id}}" method = "post">
            <div class="section-title">
                <input type="text" class="txtSectionTitle" name="section_title" value="{{this.title}}">
                <input name="requestActionInSection" value = "save_section" type="submit" hidden />
            </div>
            <div class = "edit-section-content">
                <button name="requestActionInSection" value="delete_section" class="delete-section-btn" type="submit"><img src="/assets/svg/instructor/garbage.svg" alt="delete-btn"></button>
                <button name="requestActionInSection" value="save_section" class="save-section-btn" type="submit"><img
                        src="/assets/svg/instructor/save-btn.svg" alt="save-btn"></button>
                <a  class="edit-section-btn"><img src="/assets/svg/instructor/edit-section.svg" alt="edit-btn"></a>
            </div>
        </form>
        
        {{#each lessons}}
        <div class="lesson">
            <span class="lesson-title"><img src="/assets/svg/instructor/lesson.svg" alt="lesson">{{title}}</span>
            <div class="edit-lesson-content">
                <form action="{{../../url}}&section={{../_id}}&lesson={{this._id}}" method="post">
                    <button name="requestAction" value="delete_lesson" class="delete-lesson-btn" type="submit"><img
                            src="/assets/svg/instructor/garbage.svg" alt="garbage"></button>
                </form>
                <a href="{{../../url}}&lesson={{this._id}}" class="edit-lesson-btn"><img
                        src="/assets/svg/instructor/edit-lesson.svg" alt="edit-lesson"></a>
            </div>
        </div>
        {{/each}}
        <div class="new-lesson">
            <a href="{{../url}}&section={{this._id}}" class="add-new-lesson-btn">
                <img src="/assets/svg/instructor/add-new.svg" alt="add-new-icon">
                <span class="title">Add a new lesson</span>
            </a>
        </div>
        {{/each}}
    </div>
    <div class="new-section">
        <form action="{{url}}&section={{section_id}}" method="post">
            <button class="add-new-section-btn" type="submit">
                <img src="/assets/svg/instructor/add-new.svg" alt="add-new-icon">
                <span class="title">Add a new section</span>
            </button>
        </form>

    </div>
    <div class="confirm-section">
        <form action="{{url}}" method="post">
            <button name="requestAction" value="finish" class="finish-btn">FINISH THE COURSE</button>
        </form>
    </div>
    <div class="page-group">
        {{#if prev_page}}
            <a class="page-items" href="?course={{course_id}}&page={{prev_page}}"><i class="fa-solid fa-chevron-left"></i></a>
        {{/if}}
        {{#each pageList}}
            {{#if (eq this "...")}}
            <span class="page-items">{{this}}</span>
            {{else}}
            <a class="page-items{{#if (eq ../page this)}} active{{/if}}" href="?course={{../course_id}}&page={{this}}">{{this}}</a>
            {{/if}}
        {{/each}}
        {{#if next_page}}
            <a class="page-items" href="?course={{course_id}}&page={{next_page}}"><i class="fa-solid fa-chevron-right"></i></a>
        {{/if}}
    </div>
</div>
{{!-- backdrop --}}
<div class="{{#if lesson.title}}show {{/if}}{{#if section_id}}show {{/if}}backdrop"></div>
{{!-- edit lesson form --}}
<div class="{{#if lesson.title}}show {{/if}}{{#if section_id}}show {{/if}}handle-lesson-form">
    <div class="title">Edit a custom lesson</div>
    <div class="heading">
        <a class="lecture-section active">Lecture</a>
        <a class="resources-section">Resources</a>
        <a class="quizz-section">Quizz</a>
        <a class="announcements-section">Announcements</a>
    </div>
    <form class = "add-lesson-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="txtLectureTitle" class="lecture-title">Lecture Title</label>
            <input name="lecture_title" type="text" id="txtLectureTitle" placeholder="Enter your lecture title"
                value="{{#if lesson.title}}{{lesson.title}}{{/if}}" />
        </div>
        <div class="form-group">
            <label for="video-uploader">Video uploader</label>
            <div class="message">Use the video uploader to upload videos into your lecture</div>
            <label class="video" for="videoUploadFile">
                <div class="specific">
                    <span class="upload-video-icon"><img src="/assets/svg/instructor/upload-lesson.svg"
                            alt="upload-icon"></span>
                    <span class="upload-video-message">Drop video files here or click to choose</span>
                </div>
            </label>
            <input name="videoUploadFile" id="videoUploadFile" type="file" style="display: none;">
            <div class="cancel-upload">
                <button class="cancel-upload-btn" type="button">Cancel upload</button>
            </div>
        </div>
        <div class="confirm-section">
            <button class="publish-btn" type="submit" name="requestAction" value="publish">Publish</button>
            <button class="cancel-btn" type="button" name="requestAction" value="cancel">Cancel</button>
        </div>
    </form>
</div>

<script>
    // show/hide overlay and edit lesson form when user click
    $(".backdrop, .cancel-btn").click(() => {
        $('.backdrop').removeClass("show");
        $('.handle-lesson-form').removeClass("show");
        $('.backdrop').addClass("hide");
        $('.handle-lesson-form').addClass("hide");
    })

    // set file name when uploading
    $('#videoUploadFile').change(function (event) {
        const filename = event.target.files[0].name;
        $('.upload-video-message').text(filename);
        $('.upload-video-message').css("color", "#495057");
    })
    // cancel upload
    $('.cancel-upload-btn').click(() => {
        $('#videoUploadFile').val(null);
        $('.upload-video-message').text("Drop video files here or click to choose");
    })
    // display message when user upload file
    if ("{{message}}" == "success") {
        alert("Your change was saved successfully...");
        window.location.replace("http://localhost:5000/instructor/add-course-content/?course={{course_id}}&page={{page}}");
    }
    else if ("{{message}}" == "You need to add your course description first. Please try again!")
    {
        alert("{{message}}");
        window.location.replace("http://localhost:5000/instructor/add-course-description");
    }
    else if ("{{message}}" == "finish")
    {
        alert("Congratulations! You finally finished this course and you can update later whatever you want.");
        window.location.replace("http://localhost:5000/instructor/add-course-content/?course={{course_id}}&page={{page}}");
    }
    // if failed
    else if ("{{message}}" != "success" && ("{{message}}" != "")) {
        alert("{{message}}");
        window.location.replace("http://localhost:5000/instructor/add-course-content/?course={{course_id}}&page={{page}}");
    }
    // validate user input's field before submitting (add lesson form)
    $('.add-lesson-form').on('submit', (e) => {
        const lesson_title = $('#txtLectureTitle').val().trim(); 
        
        if (lesson_title.length === 0 ) { 
            e.preventDefault(); 
            alert("Course title must not be empty. Try again!");
            return;
        } 
    });
</script>

