{{!-- <div class = "my-side-bar">
    <a href="/dashboard"><img src="/assets/svg/instructor/dashboard.svg" alt="dashboard">Dashboard</a>
    <a href="/my-courses"><img src="/assets/svg/instructor/mycourse.svg" alt="mycourse">My Courses</a>
    <a href="/enrolled-courses"><img src="/assets/svg/instructor/enrolledcourse.svg" alt="enrolled-course">Enrolled Course</a>
    <a href="/watch-history"><img src="/assets/svg/instructor/watchhistory.svg" alt="watch-history">Watch History</a>
    <a href="/sales"><img src="/assets/svg/instructor/sale.svg" alt="sale">Sales</a>
    <a href="/my-profile"><img src="/assets/svg/instructor/profile.svg" alt="profile">Profile</a>
    <span class= "go-to">GO TO</span>
    <a href="/home"><img src="/assets/svg/instructor/home.svg" alt="home">Home</a>
</div> --}}
{{!-- table data --}}
<div class = "my-course">
<div class = "heading">
    <span>My Courses</span>
    <button class = "new-course-btn"> <img src="/assets/svg/instructor/newcourse.svg" alt="new-course"> New Course</button>
</div>
<table class="table table-striped custom-table">
  <thead>
     <tr>
      <th width = "2.7%" scope="col" >#</th>
      <th width = "47.3%" scope="col" >Title</th>
      <th width = "19%" scope="col" >Category</th>
      <th width = "5.4%" scope="col">Price</th>
      <th width = "12%" scope="col">Released</th>
      <th width = "5%" scope="col">Status</th>
      <th></th>
      <th ></th>
    </tr>
  </thead>
  <tbody>
    {{#if this.empty}}
      <div class="card-body">
         Không có dữ liệu!
      </div>
      {{else}}
        {{#each this.course_list}}
        <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{category}}</td>
        <td><span class = "dollar">{{price.currency}}</span>{{price.amount}}</td>
        <td>{{date_released}}</td>
        {{#if finish}}
          <td style = "text-align: right;"><img src="/assets/svg/instructor/finish.svg" alt="finish"></td>
          {{else}}
           <td style = "text-align: right;"><img src="/assets/svg/instructor/unfinished.svg" alt="finish"></td>
        {{/if}}
        <td style = "text-align: right;"><button class = "edit-btn"><img src="/assets/svg/instructor/edit.svg" alt="edit"></button></td>
        <td style = "text-align: right;"><button class = "delete-btn"><img src="/assets/svg/instructor/delete.svg" alt="delete"></button></td>
        </tr>
        {{/each}}
    {{/if}}
  </tbody>
</table>
</div>
