<div class="userProfile">
  <div class="header">
    <p>Public Profile</p>
    <p>Add information about yourself</p>
  </div>
  <div class="body">
    <div class="card">
      <div class="avatar">
<img src="/assets/images/userProfile/user.jpg" />
      </div>
      <p class="name">{{name}}</p>
      <p class="role">user</p>
      <div class="icons">
        <svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M44 24C44 12.96 35.04 4 24 4C12.96 4 4 12.96 4 24C4 33.68 10.88 41.74 20 43.6V30H16V24H20V19C20 15.14 23.14 12 27 12H32V18H28C26.9 18 26 18.9 26 20V24H32V30H26V43.9C36.1 42.9 44 34.38 44 24Z" fill="#2D75FA"/>
</svg>

<svg width="24" height="24" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_50_24)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M20 0C8.95 0 0 8.95 0 20C0 28.85 5.725 36.325 13.675 38.975C14.675 39.15 15.05 38.55 15.05 38.025C15.05 37.55 15.025 35.975 15.025 34.3C10 35.225 8.7 33.075 8.3 31.95C8.075 31.375 7.1 29.6 6.25 29.125C5.55 28.75 4.55 27.825 6.225 27.8C7.8 27.775 8.925 29.25 9.3 29.85C11.1 32.875 13.975 32.025 15.125 31.5C15.3 30.2 15.825 29.325 16.4 28.825C11.95 28.325 7.3 26.6 7.3 18.95C7.3 16.775 8.075 14.975 9.35 13.575C9.15 13.075 8.45 11.025 9.55 8.275C9.55 8.275 11.225 7.75 15.05 10.325C16.65 9.875 18.35 9.65 20.05 9.65C21.75 9.65 23.45 9.875 25.05 10.325C28.875 7.725 30.55 8.275 30.55 8.275C31.65 11.025 30.95 13.075 30.75 13.575C32.025 14.975 32.8 16.75 32.8 18.95C32.8 26.625 28.125 28.325 23.675 28.825C24.4 29.45 25.025 30.65 25.025 32.525C25.025 35.2 25 37.35 25 38.025C25 38.55 25.375 39.175 26.375 38.975C34.275 36.325 40 28.825 40 20C40 8.95 31.05 0 20 0Z" fill="#1B1F23"/>
</g>
<defs>
<clipPath id="clip0_50_24">
<rect width="40" height="40" fill="white"/>
</clipPath>
</defs>
</svg>

<svg width="24px" height="24px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
   <circle cx="512" cy="512" r="512" style="fill:#1da1f2"/>
   <path d="M778 354.8c-18.8 8.3-38.9 13.9-60.1 16.5 21.6-13 38.2-33.5 46-57.9-20.2 11.8-42.7 20.4-66.5 25.2-19.1-20.4-46.2-33.2-76.4-33.2-57.8 0-104.7 46.9-104.7 104.6 0 8.3 1 16.3 2.7 23.9-87-4.1-164.2-45.9-215.8-109.1-9.1 15.4-14.2 33.2-14.2 52.7 0 36.4 18.5 68.4 46.6 87.2-17.2-.6-33.3-5.3-47.4-13.1v1.3c0 50.8 36 93.1 84 102.7-8.8 2.4-18.1 3.6-27.6 3.6-6.7 0-13.1-.6-19.5-1.8 13.4 41.6 52 71.9 98 72.7-35.7 28.1-81.1 44.8-129.8 44.8-8.3 0-16.6-.5-24.9-1.4 46.6 29.7 101.5 47 160.8 47C621.7 720.5 727 561 727 422.9c0-4.4 0-8.9-.3-13.4 20.4-14.7 38.3-33.2 52.3-54.2l-1-.5z" style="fill:#fff"/>
</svg>

<svg width="24" height="24" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_50_26)">
<path d="M39.9789 20.3742C39.9789 18.7354 39.8428 17.5395 39.5483 16.2994H20.3984V23.696H31.639C31.4125 25.5342 30.1887 28.3024 27.4691 30.1626L27.431 30.4102L33.4858 34.9939L33.9053 35.0348C37.7579 31.5578 39.9789 26.4421 39.9789 20.3742Z" fill="#4285F4"/>
<path d="M20.3985 39.8626C25.9054 39.8626 30.5286 38.0908 33.9054 35.0348L27.4692 30.1626C25.7469 31.3363 23.4352 32.1557 20.3985 32.1557C15.0049 32.1557 10.427 28.6789 8.79518 23.8733L8.55598 23.8931L2.26007 28.6545L2.17773 28.8782C5.53176 35.389 12.4212 39.8626 20.3985 39.8626Z" fill="#34A853"/>
<path d="M8.79495 23.8733C8.36437 22.6331 8.11518 21.3043 8.11518 19.9313C8.11518 18.5582 8.36437 17.2295 8.7723 15.9893L8.76089 15.7252L2.38608 10.8873L2.17751 10.9843C0.795153 13.6861 0.00195312 16.7202 0.00195312 19.9313C0.00195312 23.1424 0.795153 26.1763 2.17751 28.8782L8.79495 23.8733Z" fill="#FBBC05"/>
<path d="M20.3985 7.70672C24.2284 7.70672 26.8119 9.32336 28.285 10.6744L34.0413 5.18214C30.5061 1.97099 25.9054 0 20.3985 0C12.4212 0 5.53176 4.47343 2.17773 10.9843L8.77252 15.9893C10.427 11.1837 15.0048 7.70672 20.3985 7.70672Z" fill="#EB4335"/>
</g>
<defs>
<clipPath id="clip0_50_26">
<rect width="40" height="40" fill="white"/>
</clipPath>
</defs>
</svg>
      </div>
    </div>
    <div class="main">
      <div class="menu">
        <p class="overview {{#if (eq page "overview")}} optionChosen{{/if}}">Overview</p>
        <p class="edit {{#if (eq page "editform")}} optionChosen{{/if}}">Edit Profile</p>
        {{#if (eq loginby "local")}}<p class="change {{#if (eq page "changeform")}} optionChosen{{/if}}">Change Password</p>{{/if}}
      </div>
      <div class="content">
        <div class="overview{{#if (eq page "overview")}}{{else}} hideUserProfile{{/if}}">
          <p class="title">Profile Details</p>
          <div class="overviewForm">
            <div class="type">
              <p>Full name</p>
              <p>Phone number</p>
              <p>Sex</p>
              <p>Birthday</p>
              <p>Email</p>
              <p>Address</p>
            </div>
            <div class="infor">
              <p>{{name}}</p>
              <p>{{phoneNumber}}</p>
              <p>{{sex}}</p>
              <p>{{birthday}}</p>
              <p>{{email}}</p>
              <p>{{address}}</p>
            </div>
          </div>
        </div>

        <form method="post" class="editProfile{{#if (eq page "editform")}}{{else}} hideUserProfile{{/if}}">
          <div class="imageProfile">
            <div class="image">
<img src="/assets/images/userProfile/user.jpg" />
            </div>
            <div class="icon">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 10H9V16H15V10H19L12 3L5 10ZM5 18V20H19V18H5Z"
                  fill="#1C7ED6"
                ></path>
              </svg>

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7 21C6.45 21 5.97933 20.8043 5.588 20.413C5.196 20.021 5 19.55 5 19V6H4V4H9V3H15V4H20V6H19V19C19 19.55 18.8043 20.021 18.413 20.413C18.021 20.8043 17.55 21 17 21H7ZM17 6H7V19H17V6ZM9 17H11V8H9V17ZM13 17H15V8H13V17ZM7 6V19V6Z"
                  fill="#C92A2A"
                ></path>
              </svg>
            </div>
          </div>
          <div class="editForm">
            <div class="fullName">
              <p>Full name</p>
              <input type="text" name="fullname" value='{{name}}' />
            </div>
            <div   class="birthday">
              <p>Birthday</p>
              <input name="dob" value="{{birthday}}" />
            </div>
            <div class="sex">
              <p>Sex</p>
              <input name="sex" value="{{sex}}" />
            </div>
            <div class="phoneNumber">
              <p>Phone Number</p>
              <input name="phonenumber" value="{{phoneNumber}}" />
            </div>
            <div class="email">
              <p>Email</p>
              <input name="email" value='{{email}}' />
            </div>
            <div class="address">
              <p>Address</p>
              <input
              name="address"
                value="{{address}}"
              />
            </div>
          </div>
          <p class="messageUserProfile">{{message}}</p>
          <div class="buttonFrame">
            <button name="submitForm" class="saveButton" value="editProfile">Save</button>
          </div>
        </form>

        <form method="post" class="changePassword{{#if (eq page "changeform")}}{{else}} hideUserProfile{{/if}}">
          <div class="currentPassword">
            <p>Current Password</p>
            <input name="currentPassword" type="password" value="{{user.historyCurrentPassword}}" />
          </div>
          <div class="newPassword">
            <p>New Password</p>
            <input name="password" type="password" value="{{user.historyPassword}}" />
          </div>
          <div class="confirmPassword">
            <p>Confirm New Password</p>
            <input name="passwordConfirm" type="password" value="{{user.passwordConfirm}}" />
          </div>
          <div class="passwordStronger">
            <p>To make your password stronger: </p>
            <ul>
              <li>Add uppercase letters</li>
              <li>Add numbers</li>
              <li>Add punctuation</li>
            </ul>
          </div>
          <p class="messageUserProfile">{{message}}</p>

          <div class="buttonFrame">
            <button name="submitForm" class="changeButton" value="editPassword">Change Password</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <script>
    $(".messageUserProfile").text("{{message}}")

        $(".body > .main > .menu > .edit").click(function(){ 
      $(".body > .main > .menu > .change").removeClass("optionChosen")
      $(".body >.main > .menu > .overview").removeClass("optionChosen")
      $(".body > .main>.menu > .edit").addClass("optionChosen")
      $(".body > .main > .content > .overview").addClass("hideUserProfile") 
      $(".body > .main > .content > .changePassword").addClass("hideUserProfile") 
      $(".body > .main > .content > .editProfile").removeClass("hideUserProfile")
    $(".messageUserProfile").text("")
    }); 
    $(".body > .main > .menu > .change").click(function(){ 
      $(".body > .main > .menu > .edit").removeClass("optionChosen") 
      $(".body > .main > .menu > .overview").removeClass("optionChosen")
      $(".body > .main > .menu > .change").addClass("optionChosen") 
      $(".body > .main > .content > .overview").addClass("hideUserProfile") 
      $(".body > .main > .content > .editProfile").addClass("hideUserProfile")
      $(".body > .main > .content > .changePassword").removeClass("hideUserProfile")
    $(".messageUserProfile").text("")
    }); 
    $(".body > .main > .menu > .overview").click(function(){ 
      $(".body > .main > .menu > .edit").removeClass("optionChosen") 
      $(".body > .main > .menu >.change").removeClass("optionChosen")
      $(".body > .main > .menu > .overview").addClass("optionChosen") 
      $(".body > .main > .content > .changePassword").addClass("hideUserProfile") 
      $(".body > .main > .content > .editProfile").addClass("hideUserProfile") 
      $(".body > .main > .content > .overview").removeClass("hideUserProfile")    
    $(".messageUserProfile").text("")
    });
    $(document).ready(function(){
    const messages = "{{messages}}"
    if(messages && (messages==="success")) alert("Changed password successfully!");
    if(messages && (messages==="profile success")) alert("Update profile successfully!");
    })



  </script>
</div>